{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% if user.is_authenticated %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for listing in listings %}
        {% if listing.status == True %}
        <div class="col">
            <div class="card">
                <img src="{{ listing.image_url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><a href="/listing/{{ listing.id }}">{{ listing.title }}</a></h5>
                <p class="card-text">{{ listing.description }}</p>
                
                <p class="card-text">Price: ${{ listing.currentPrice }}</p>
                
            </div>
                <div class="card-body">
                    <!-- <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a> -->
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        <h5>Login to access Active Listings! </h5>
    </div>
    {% endif %}
    
{% endblock %}